:root {
    /* --tab-border: yellow;
    --tab-background: blue;
    --tab-background-hover: blue;
    --tab-font: red;
    --active-tab-background: green;
    --active-tab-font: red; */
}

.tabs {}

.tabs .controls {
    border-bottom: 1px solid;
    border-color: var(--tab-border, #ccc);
    padding-left: 1em;
}
.tabs .controls li {
    background: var(--tab-background, white);
    border: solid var(--tab-border, #ccc);
    border-width: 0 0 1px 0;
    color: var(--tab-font, black);
    display: inline-block;
    list-style: none;
    margin: 0 1px -1px 1px;
    padding: 0.5rem 0.75rem;
}
.tabs .controls li:active, .tabs .controls li:focus, .tabs .controls li:hover {
    background: var(--tab-background-hover, white);
    cursor: pointer;
}
.tabs .controls li.active {
    background-color: var(--active-tab-background, white);
    border: solid var(--tab-border, #ccc);
    border-bottom: solid var(--active-tab-background, white);
    border-width: 1px 1px 1px 1px;
    color: var(--active-tab-font, black);
    margin: 0 0 -1px 0;
}

.tabs .holder { margin: 0; padding: 0; }