.filters {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters-wrapper { border: solid grey 1px; margin: 0.5em 0; padding: 0; width: 45%; }

.filters-container { display: flex; flex-flow: column nowrap; padding: 0.5em; }

.filter { margin-bottom: 0.1em; width: 100%; }

.filter label {
    float: left;
    font-weight: bold;
    margin-right: 0.25em;
    text-align: right;
    width: 40%;
}
.filter label:after { content: ':'; }

.filter input { width: calc(60% - 1em); vertical-align: middle; }